[submodule "lib/idl"]
	path = lib/idl
	url = https://github.com/tango-controls/tango-idl.git
[submodule "utils/tango_admin"]
	path = utils/tango_admin
	url = https://github.com/tango-controls/tango_admin.git
[submodule "cppserver/starter"]
	path = cppserver/starter
	url = https://github.com/tango-controls/starter.git
[submodule "cppserver/tangotest"]
	path = cppserver/tangotest
	url = https://github.com/tango-controls/tangotest.git
