<Br>
<h2>Class Inheritance:</h2>
	<ul>
		<li> <a href="http://www.esrf.fr/computing/cs/tango/tango_doc/kernel_doc/cpp_doc/"> Tango::DEVICE_IMPL</a></li>
		<li> <a href="http://www.esrf.eu/computing/cs/tango/tango_doc/kernel_doc/tango_java_api/classes/index.html"> fr.esrf.TangoDs.Device_2Impl</a></li>
		<li> <a href="http://www.tango-controls.org/static/PyTango/latest/doc/html/server/index.html"> PyTango.DEVICE_IMPL</a></li>
		<ul>
			<li> <a href="http://www.esrf.fr/computing/cs/tango/tango_doc/ds_doc/"> ABSTRACT </a></li>
			<ul>
				<li> CLASS</li>
			</ul>
		</ul>
	</ul>
</ul>
