<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Tango Programer's Guide</title>
  <meta content="Pascale Verdier" name="author">
</head>
<body>
<div style="text-align: center;"><small><font color="#0000ff"><font
 size="+4"><small>E</small></font></font><font
 style="font-weight: bold;" size="+1"><small>UROPEAN</small></font><span
 style="font-weight: bold;">
</span><font color="#0000ff"><font size="+4"><small>S</small></font></font><font
 style="font-weight: bold;" size="+1"><small>YNCHROTRON</small></font>
<font color="#0000ff"><font size="+4"><small>R</small></font></font><font
 style="font-weight: bold;" size="+1"><small>ADIATION</small></font>
<font color="#0000ff"><font size="+4"><small>F</small></font></font><font
 style="font-weight: bold;" size="+1"><small>ACILITY</small></font></small>
</div>
<h5 style="text-align: center;">
<small>INSTALLATION EUROPEENNE DE RAYONNEMENT SYNCHROTRON</small></h5>
<div style="text-align: center;"><br>

<big style="font-weight: bold;"><big><big>
<span style="text-decoration: underline;"> TANGO Programmer's Guide</span>
</big></big></big>

<div style="text-align: left;">
<br>
<br>
<br>
The goal of this <i>Programemr's Guide</i> is to define some conventions and<br>
to specify some customs to stadardize <b>Tango device servers</b> writing style.<br>
It specify the<a href="TPG_NamingConventions.html"> Tango naming conventions</a>
<br>
<br>
<br>
Tango project collaboration is based on <b>CVS</b>.<Br>
There are 2 main repositories:
<ul>
	<li> <i>cvs.sourceforge.net:/cvsroot/tango-cs</i> for kernel modules.</li>
	<li> <i>cvs.sourceforge.net:/cvsroot/tango-ds</i> for device servers modules.</li>
</ul>
In addition each institute has is own repository for specific device servers.<Br>
A new device server must be added to the apropriate CVS repository in a
<a href="TPG_CvsModule.html">new CVS module</a>
<br>
<br>
When a stable version has been developped and tested, the module must be
<a href="TPG_CvsTags.html"> tagged</a>.<Br>
It allows to check out this stable version and to know which version is running.


</div>
</body>
</html>
