<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Tango Programer's Guide</title>
  <meta content="Pascale Verdier" name="author">
</head>
<body>
<div style="text-align: center;"><small><font color="#0000ff"><font
 size="+4"><small>E</small></font></font><font
 style="font-weight: bold;" size="+1"><small>UROPEAN</small></font><span
 style="font-weight: bold;">
</span><font color="#0000ff"><font size="+4"><small>S</small></font></font><font
 style="font-weight: bold;" size="+1"><small>YNCHROTRON</small></font>
<font color="#0000ff"><font size="+4"><small>R</small></font></font><font
 style="font-weight: bold;" size="+1"><small>ADIATION</small></font>
<font color="#0000ff"><font size="+4"><small>F</small></font></font><font
 style="font-weight: bold;" size="+1"><small>ACILITY</small></font></small>
</div>
<h5 style="text-align: center;">
<small>INSTALLATION EUROPEENNE DE RAYONNEMENT SYNCHROTRON</small></h5>
<div style="text-align: center;"><br>

<big style="font-weight: bold;"><big><big>
<span style="text-decoration: underline;"> TANGO Programmer's Guide</span>
</big></big></big>
</div>

<div style="text-align: left;">
<br>
<br>
<br>
<big><span style="font-weight: bold;"><span style="text-decoration: underline;">
Tango Naming Conventions</span>:</span></big>

<ul>
	<a name="Naming_cmd_attr"> </a>
	<big><span style="font-weight: bold;"><span style="text-decoration: underline;">
	Commands and Attributes:</span></span></big>
	<ul>
		Between clients and servers, they are case unsensitive.<br>
		But by convention it is recommended to build it by appending all words<br>
		starting with capital letter.<br>
		(i.e. ReadValues,&nbsp; StartCounter, .......)<br>
		<br>
		<b>Commands</b> will be executed in a method where words will
		 be splited by underscore char.<br>
		(i.e. read_values,&nbsp; start_counter, .......)<br>
		<b>Attributes</b> will be read or write in a method where attribute name
		is preceded by read or write key.<br>
		(i.e. read_Counter,&nbsp; write_CounterLimits, .......)
		<ul>
			<b>NOTE:</b> the method <i>read_attr_hardware(vector<long> &attr_list)</i>
			will be called before the above method.
		</ul>
	</ul>
	<br>

	<a name="Naming_properties"> </a>
	<big><span style="font-weight: bold;"><span style="text-decoration: underline;">
 	Class and Device Properties</span>:</span></big>
	<ul>
		They are case sensitive:<br>
		By convention it is recommended to build it by appending all words <br>
		starting with capital letter.<br>
		(i.e. DefaultValue,&nbsp; ReadDeviceName, .......)
	</ul>
	<br>
</ul>
<br>
</div>
</body>
</html>
